body {
background-color: rgb(199, 195, 189);
color: black;
}
body[data-bs-theme="dark"] {
background-color: rgb(56, 60, 66);
color: white;
}
body[data-bs-theme="dark"] .diff-deletion {
background-color: rgb(94, 15, 8);
}
body[data-bs-theme="dark"] .diff-insertion {
background-color: rgb(15, 87, 46);
}
.container {
max-width: 100rem;
}
.container.wide {
max-width: 420rem;
}
.card {
box-shadow: 0.15rem 0.15rem 0.15rem black;
margin: 0.5rem;
}
textarea {
resize: vertical;
}
#singleColumnDiff,
.diff-column {
padding: 1rem;
}
#singleColumnDiff,
#doubleColumnDiff {
font-family: monospace;
white-space: pre-wrap;
word-wrap: break-word;
overflow-y: auto;
}
#doubleColumnDiff {
display: flex;
}
.diff-column {
width: 50%;
}
.diff-deletion {
background-color: rgb(253, 233, 231);
color: rgb(237, 53, 36);
}
.diff-insertion {
background-color: rgb(233, 251, 241);
color: rgb(46, 218, 119);
}
#customPromptContainer {
display: none;
}
.form-control,
.form-select {
margin: 0.5rem;
}
.button-group {
display: flex;
justify-content: center;
gap: 2rem;
}
.btn-lg {
flex: 1;
max-width: 16rem;
}
#clearSource,
#clearTarget {
background-color: rgb(237, 53, 36);
color: white;
}
#switchBtn {
background-color: rgb(250, 157, 1);
color: white;
}
#compareBtn {
background-color: rgb(46, 218, 119);
color: white;
}
#generateTarget,
#unboldSource,
#unboldTarget,
#latexSource,
#latexTarget,
#htmlSource,
#htmlTarget {
background-color: rgb(20, 199, 222);
color: white;
}
#savePrompt,
#dedupeSource,
#dedupeTarget,
#sortSource,
#sortTarget,
#transcribeBtn {
background-color: rgb(1, 111, 255);
color: white;
}
#uppercaseSource,
#uppercaseTarget,
#lowercaseSource,
#lowercaseTarget {
background-color: rgb(68, 79, 173);
color: white;
}
#renderMarkdownBtn {
background-color: rgb(140, 84, 208);
color: white;
}
.upload-file {
position: relative;
display: inline-block;
}
.input-file {
position: absolute;
left: 0;
top: 0;
opacity: 0;
width: 100%;
height: 100%;
}
.input-file-label {
display: inline-block;
background-color: rgb(140, 84, 208);
color: white;
}
#imageList {
display: flex;
flex-wrap: wrap;
}
.image-container {
margin: 0.5rem;
position: relative;
width: 10rem;
height: 10rem;
}
.image-container img {
width: 100%;
height: 100%;
object-fit: cover;
}
.remove-image {
position: absolute;
width: 2rem;
height: 2rem;
top: 0.25rem;
right: 0.25rem;
}
@media print {
* {
margin: 0 !important;
padding: 0 !important;
box-shadow: none !important;
border: none !important;
}
h5,
#leftColumn,
.container > .row:not(:last-child) {
display: none !important;
}
#doubleColumnDiff,
#rightColumn {
display: block;
box-shadow: none;
height: 100%;
width: 100%;
}
}
